body{margin: 0;
     padding: 0;
     width: 100%;}
     
h2{color: white;
   font-size: 2.5rem;
   text-align: center;} 
h3{color:rgb(10,46,70);
   font-size: 2.5rem;}
h4{color: white;}
h5{color: white;
   font-size: 2.5;
   text-align: center;}
   

nav{background-color:rgb(10, 46, 70); 
    width: 100%;
    display:flex;
    justify-content: space-around;
    font-size: small;
    color:white;}
      
header{min-height: 30rem;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: flex-start;
       background-color: rgb(49, 240, 170)}

header img{width: 20%;}

main{background-color: white;
     color: rgb(10, 46, 70);
     height: auto;
     font-size: 1rem;
     display: flex;
     text-align: center;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;}

main div{width:100%;
         min-height: 10rem; 
         background-color: rgb(255, 255, 255);
         padding-bottom: 30rem;}

main div img{width:30%;}

main>img{width: 20rem;}

 section.uno{width: 100%;
             background-color:rgb(49, 240, 170);
             display: flex;
             flex-direction: column;
             align-items: center;
             color: white(71, 26, 26);}
     
section.uno div{display: flex;
                font-size: 1.5rem;
                color: white;
                line-height: 1.8cap;}
                
section.uno img{width: 20%;}

button{background-color: rgb(49, 240, 170);
       color: white;
       width: 10rem;}
   
section.dos {width: 100%; 
            background-color: rgb(251, 244, 244);
            min-height: 70rem;
            text-align: center;}
    
section.dos div{display: flex;
               flex-direction: column;
               align-items: flex-start;
               margin-left: 10rem;}

section.dos img{width: 20%;}
       
.success {background-color: rgb(49, 240, 170);
          color: white;
          width: 5rem;
          height: 3rem;
          justify-content: flex-start;
          margin-right: 40rem;
          margin-top: 20rem;}
          
footer{background-color:rgb(93, 118, 134) ;
       min-height: 4rem;
       width: 100%;
       display:flex;
       justify-content: space-around;
       color: white;}

nav div {background-color:rgb(28, 45, 57); 
         width: 100%;
         display:flex;
         justify-content: space-around;
         font-size: small;}


/* Espacio para las Media Queries */
@media screen and (max-width: 720px){
 
   main div img {width:40%;
                height: 40%;}
   section.uno {width: 100%;
                height:auto;}
   main img {width:25%;}}
 
@media screen and (max-width: 400px){
 
   main div img{width:100%;
                height: 15%;}
   section.uno{ width: 100%;}
   footer p {width:100%;
             height: 100%;}
   section.uno div{width:100%;
                   height: 100%;}}